.u-section-1 .u-sheet-1 {
  min-height: 354px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  width: 680px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 538px;
}

.u-section-2 .u-list-1 {
  width: 622px;
  min-height: 1649px;
  grid-template-rows: auto auto auto;
  height: auto;
  margin: 50px auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  grid-auto-rows: calc(10% - 9px);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -10px auto 0 3px;
}

.u-section-2 .u-text-1 {
  margin: -35px 0 0 115px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -10px auto 0 3px;
}

.u-section-2 .u-text-2 {
  margin: -35px 0 0 115px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -10px auto 0 3px;
}

.u-section-2 .u-text-3 {
  margin: -35px 0 0 115px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -10px auto 0 3px;
}

.u-section-2 .u-text-4 {
  margin: -35px 0 0 115px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -10px auto 0 3px;
}

.u-section-2 .u-text-5 {
  margin: -35px 0 0 115px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -10px auto 0 3px;
}

.u-section-2 .u-text-6 {
  margin: -35px 0 0 115px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-7 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -10px auto 0 3px;
}

.u-section-2 .u-text-7 {
  margin: -35px 0 0 115px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-icon-8 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -10px auto 0 3px;
}

.u-section-2 .u-text-8 {
  margin: -35px 0 0 115px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-icon-9 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -10px auto 0 3px;
}

.u-section-2 .u-text-9 {
  margin: -35px 0 0 115px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-icon-10 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -10px auto 0 3px;
}

.u-section-2 .u-text-10 {
  margin: -35px 0 0 115px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
    min-height: 459px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 538px;
}

.u-section-3 .u-list-1 {
  width: 622px;
  min-height: 1649px;
  grid-template-rows: auto auto auto;
  height: auto;
  margin: 50px auto;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  grid-auto-rows: calc(10% - 9px);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -16px auto 0 20px;
}

.u-section-3 .u-text-1 {
  margin: -44px 0 0 115px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -16px auto 0 20px;
}

.u-section-3 .u-text-2 {
  margin: -44px 0 0 115px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -16px auto 0 20px;
}

.u-section-3 .u-text-3 {
  margin: -44px 0 0 115px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -16px auto 0 20px;
}

.u-section-3 .u-text-4 {
  margin: -44px 0 0 115px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -16px auto 0 20px;
}

.u-section-3 .u-text-5 {
  margin: -44px 0 0 115px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -16px auto 0 20px;
}

.u-section-3 .u-text-6 {
  margin: -44px 0 0 115px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-icon-7 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -16px auto 0 20px;
}

.u-section-3 .u-text-7 {
  margin: -44px 0 0 115px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-icon-8 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -16px auto 0 20px;
}

.u-section-3 .u-text-8 {
  margin: -44px 0 0 115px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-icon-9 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -16px auto 0 20px;
}

.u-section-3 .u-text-9 {
  margin: -44px 0 0 115px;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-icon-10 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -16px auto 0 20px;
}

.u-section-3 .u-text-10 {
  margin: -44px 0 0 115px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
    min-height: 459px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 538px;
}

.u-section-4 .u-list-1 {
  width: 622px;
  min-height: 799px;
  grid-template-rows: auto auto auto;
  height: auto;
  margin: 50px auto;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  grid-auto-rows: calc(20% - 8px);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -13px auto 0 20px;
}

.u-section-4 .u-text-1 {
  margin: -44px 0 0 115px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -13px auto 0 20px;
}

.u-section-4 .u-text-2 {
  margin: -44px 0 0 115px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -13px auto 0 20px;
}

.u-section-4 .u-text-3 {
  margin: -44px 0 0 115px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -13px auto 0 20px;
}

.u-section-4 .u-text-4 {
  margin: -44px 0 0 115px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-5 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: -13px auto 0 20px;
}

.u-section-4 .u-text-5 {
  margin: -44px 0 0 115px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
    min-height: 459px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }
}